.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #858585;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #b700ff;
}
