<section class="contact">
  <div class="contact-container">
    <h1 className="fw-bold">I miei contatti</h1>
    <p>
      Sono disponibile per collaborazioni, freelance e opportunità full-time. Scrivimi o raggiungimi
      sui social.
    </p>
    <div className="row g-4">
      @for (contact of contacts; track contact.id) {
        <div className=" cardContact col-6 col-md-6 col-lg-4">
          <h3>{{ contact.label }}</h3>
          <p>{{ contact.value }}</p>
          @if (contact.href) {
            <a [href]="contact.href" target="_blank" className="btn btn-primary mt-3">Contattami</a>
          }
        </div>
      }
    </div>
  </div>
</section>
