.rotate-container {
  width: 200px;
  height: 200px;
  position: relative;
}

.rotate-object {
  width: 100%;
  height: 100%;
  background-color: #3498db;
  border-radius: 50%;
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
